{{!< default}} 

{{!-- The main content area --}} 

{{> header}} 
    <main id="site-main" class="site-main">
        <section class="pt-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <h1 class="h1 text-center mb-5">About Us</h1>
                        <h2 class="mb-4">Heading</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <h2 class="pt-4 mb-4">Heading</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <h2 class="pt-4 mb-4">Heading</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="col-12">
                        <figure>
                            <img class="img-fluid" src="{{asset "images/about-sm.jpg"}}" alt="Home banner">
                            <figcaption class="text-center pt-3">Photo by <a class="text-muted" href="#">Matthew</a> / <a class="text-muted" href="#">Mindspun</a></figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-9">
                        <h2 class="pt-4 mb-4">Unordered List</h2>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
                            <li>Eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                            <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco labori.</li>
                            <li>Sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <h2 class="pt-4 mb-4">Ordered List</h2>
                        <ol>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
                            <li>Eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                            <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco labori.</li>
                            <li>Sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="pb-5">
            <div class="py-4">
                <figure>
                    <img class="w-100" src="{{asset "images/about-lg.jpg"}}" alt="Home banner">
                    <figcaption class="text-center pt-3">Photo by <a class="text-muted" href="#">Matthew</a> / <a class="text-muted" href="#">Mindspun</a></figcaption>
                </figure>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <h2 class="pt-4 mb-2">Table</h2>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Item</th>
                                        <th>Description</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>02.</td>
                                        <td>Items Name</td>
                                        <td>Items Description</td>
                                        <td>$100.00</td>
                                        <td>Aavailable</td>
                                    </tr>
                                    <tr>
                                        <td>03.</td>
                                        <td>Items Name</td>
                                        <td>Items Description</td>
                                        <td>$100.00</td>
                                        <td>Aavailable</td>
                                    </tr>
                                    <tr>
                                        <td>04.</td>
                                        <td>Items Name</td>
                                        <td>Items Description</td>
                                        <td>$100.00</td>
                                        <td>Aavailable</td>
                                    </tr>
                                    <tr>
                                        <td>05.</td>
                                        <td>Items Name</td>
                                        <td>Items Description</td>
                                        <td>$100.00</td>
                                        <td>Aavailable</td>
                                    </tr>
                                    <tr>
                                        <td>06.</td>
                                        <td>Items Name</td>
                                        <td>Items Description</td>
                                        <td>$100.00</td>
                                        <td>Aavailable</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h2 class="pt-4 mb-4">Lorem ipsum dolor</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <h2 class="pt-4 mb-4">Syntax Highlighting</h2>
                        <div class="bg-dark rounded text-white p-3">
                            <pre class="m-0"><code>&lt;p&gt;Sample text here...&lt;/p&gt;
    &lt;p&gt;And another line of sample text here...&lt;/p&gt;</code></pre>
                        </div>
                        <h2 class="pt-4 mb-4">Responsive Video</h2>
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" title="YouTube video" allowfullscreen></iframe>
                        </div>
                        <figure class="mt-5 p-3 border-start border-3 border-primary bg-light">
                            <blockquote class="blockquote">
                                <p>A well-known quote, contained in a blockquote element.</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Someone famous in <cite title="Source Title">Source Title</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
    </main>