{{!< default}}

{{!-- The main content area --}}

{{#post}}
    {{> header}}
    <main id="site-main" class="site-main my-5">
        <section class="pt-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <h1 class="h1 text-center mb-5">{{title}}</h1>
                        <p class="lead">{{excerpt}}</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-5">
            <div class="container">
                {{content}}
            </div>
        </section>
    </main>
{{/post}}
